* {
  @include box-sizing;
  line-height: 1.5;
}

body {
  color: $default-color;
  min-height: 100%;
  font-family: $default-font-family;
}

html {
  height: 100%;
  font-size: 16px;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $default-font-family;
}

a {
  color: inherit;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

p {
  line-height: 1.8;
}
