.catalogue {
  &-item {
    display: block;
    margin: 20px 0 0 40px;
    font-size: 18px;
  }

  &-time {
    color: inherit;
    letter-spacing: .5px;
  }

  &-title {
    color: inherit;
    font-weight: 500;
    margin-left: 20px;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
