pre,
code {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

code {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color: $code-color;
  padding: 2px 4px;
  border-radius: 4px;
}

pre code {
  background-color: transparent;
  color: #333333;
  font-size: 14px;
  padding: 0;
}

.highlight {
  border-radius: 3px;
  line-height: 1.4;
  margin: 0 0 1rem;

  pre {
    border: 1px solid #cccccc;
    border-radius: 4px;

    overflow-x: auto;
    overflow-wrap: normal;
    white-space: pre;
    padding: 9.5px;
  }

  .lineno {
    color: $default-tint;
    display: inline-block; // Ensures the null space also isn't selectable
    padding: 0 .75rem 0 .25rem;
    // Make sure numbers aren't selectable
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
