<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ '/about' | prepend: site.baseurl }}">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
    </div>
  </nav>

    <main>
      <div class="catalogue">
        {% for post in paginator.posts %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
            <tr>
              <th>
                <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%b %d, %Y" }}</time>
              </th>
              <th>
                <span class="catalogue-title">{{ post.title }}</span>
              </th>
            </tr>
          </a>
        {% endfor %}
      </div>
    </main>

  </body>
</html>
